@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    /* user-select: none; */

}

.checkList {
    list-style: none;
}

.checkList li:before {
    content: '✓';
    padding-right: 15px;
    color: rgb(0, 145, 255);
}


@media (max-width: 700px) {
    html {
        font-size: 85%;
    }

}