@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    /* user-select: none; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

}

main {
    min-height: 100vh;
    max-width: 100vw;
    margin-top: 80px;
}

.checkList {
    list-style: none;
}

.checkList li:before {
    content: '✓';
    padding-right: 15px;
    color: rgb(0, 145, 255);
}

.dotted-border {
    border: 8px #CCCCCC dotted;
    padding: 17px;
}


/* blog style */
.card-zoom {
    @apply relative flex items-center justify-center overflow-hidden  shadow-xl ;
}

.card-zoom-image {
    @apply absolute w-full h-full transition-all duration-700 ease-in-out transform bg-center bg-cover;
}

.card-zoom:hover .card-zoom-image {
    @apply scale-110;
}

.card-zoom:hover .card-zoom-text {
    @apply scale-100;
}

.facebookBtn:hover{
    box-shadow:  0 3px 25px #79ADFF;
}

.linkedinBtn:hover{
    box-shadow:  0 3px 25px #29B4FF;
}

.instagramBtn:hover{
    box-shadow:  0 3px 25px #9E7CF7;
}

.youtubeBtn:hover{
    box-shadow:  0 3px 25px #F44F54;
}


@media (max-width: 700px) {
    html {
        font-size: 85%;
    }

}